{% extends "base.html.twig" %}

{% block title %}{{ category.title }}{% endblock %}

    {% block body %}
        <div id="contenu-body">
            <h1>{{ category.title }} </h1>
            <p class="text-page"> {{ category.description }}</p>

                {%for product in page_products %}
                    <div id="grid-products">
                        <div id="sticker-product">
                            <p class="marque">{{ product.brand }}</p>
                            <p class="designation">{{ product.designation }}</p>
                            <img id="product-little-image" src="/images/{{ product.image }}" alt="Photo du produit .{{ product.designation }}">

                            <p class="prix">{{ product.price |format_currency('EUR', locale='de') }}</p>

                            {% if product.stock >= 1 %}
                                <a class="BTN-orange" href="{{ path('add_panier', {'id':product.id }) }}"> Ajouter au panier </a>
                                {% else %}
                                    <p class="stock">Indisponible</p>
                            {% endif %}

                            <a class="BTN-bleu" href="{{ path('product', {'slug':product.slug}) }}"> En savoir plus </a>
                        </div>
                    </div>

    {% endfor %}
        {{ knp_pagination_render(page_products) }}
        </div>
    {% endblock %}