{% extends "base.html.twig" %}

{% block title %}{{ category.title }}{% endblock %}

    {% block body %}
    <h1>{{ category.title }} </h1>
    <p class="text-page"> {{ category.description }}</p>

    {%for product in page_products %}
        <div id="grid-products">
            <div id="sticker-product">
                <p class="marque">{{ product.brand }}</p>
                <p class="designation">{{ product.designation }}</p>
                <img id="product-little-image" src="/images/{{ product.image }}" alt="Photo du produit .{{ product.designation }}">

                <p class="stock">{{ product.stock }}</p>
                <p class="prix">{{ product.price |format_currency('EUR', locale='de') }}</p>

                <a class="BTN-bleu" href="{{ path('product', {'slug':product.slug}) }}"> En savoir plus </a>
                <a class="BTN-orange" href="{{ path('add_panier', {'id':product.id }) }}"> Ajouter au panier </a>
            </div>
        </div>
    {% endfor %}
        {{ knp_pagination_render(page_products) }}
    {% endblock %}