<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ category.title }}</title>
</head>
<body>
    {% include 'header.html.twig' %}

    <h1>{{ category.title }} </h1>
    <p> {{ category.description }}</p>

    {%for product in products %}

            <p>{{ product.brand }}</p>
            <p>{{ product.designation }}</p>
            <img src="{{ product.image }}" alt="Photo du produit .{{ product.designation }}">

            <p>{{ product.price }}</p>
            <p>{{ product.stock }}</p>

            <a href="{{ path("accueil")}}"> En savoir plus </a>
            {# product_detail, {"product_id": product.id} #}
            <a href="{{ path("accueil")}}"> Ajouter au panier </a>

    {% endfor %}
</body>
</html>