{% extends "base.html.twig" %}

{% block title %}{{ category.title }}{% endblock %}

    {% block body %}
    <h1>{{ category.title }} </h1>
    <p> {{ category.description }}</p>

    {%for product in products %}

            <p>{{ product.brand }}</p>
            <p>{{ product.designation }}</p>
            <img src="/images/{{ product.image }}" alt="Photo du produit .{{ product.designation }}">

            <p>{{ product.price }}</p>
            <p>{{ product.stock }}</p>

            <a href="{{ path("accueil")}}"> En savoir plus </a>
            <a href="{{ path('add_panier', {'id':product.id }) }}"> Ajouter au panier </a>

    {% endfor %}
    {% endblock %}