<footer>
    <div id="contenu-footer">
        <div class="font-footer">
        <img src="/img/01-logo/color.png" id="logo-footer" class="logo-footer">

        <nav id="navbar-footer" class="navbar-footer">
            <ul class="menu-footer">
                <h3>Plan du site</h3>
                <li><a id="onglet-footer" href="{{ path ('accueil') }}">Accueil</a></li>
                <li><a id="onglet-footer" href="{{ path ('category', {'slug': 'smartphones'}) }}">Smartphones</a></li>
                <li><a id="onglet-footer" href="{{ path ('category', {'slug': 'accessoires'}) }}">Accessoires</a></li>
                <li><a id="onglet-footer" href="{{ path ('panier') }}">Panier</a></li>
                <li><a id="onglet-footer" href="{{ path ('accueil') }}">Compte</a></li>
            </ul>
        </nav>


        <nav id="second-footer-menu" class="navbar-footer">
            <ul class="menu-footer"></ul>
                <h3>Autres</h3>
                <li><a id="onglet-footer" href="{{ path ('cgv') }}">Conditions Générales de Ventes</a></li>
                <li><a id="onglet-footer" href="{{ path ('protection_donnees') }}">Protection des données</p></li>
                <li><a id="onglet-footer" href="{{ path('cookies') }}">Cookies</a></li>
                <li><a id="onglet-footer" href="{{ path ('mentions_legales') }}">Mentions Légales</a></li>
        </nav>


        <div id="rs-footer">
            <h3>Réseaux Sociaux</h3>
            <img src="/img/02-icons/Twitter%20logo.png" id="icon-twitter">
            <img src="/img/02-icons/Linkedin%20logo.png" id="icon-linkedin">
            <img src="/img/02-icons/Facebook%20logo.png" id="icon-facebook">
            <h3>Contactez-nous</h3>
            <p class="contact-footer"><strong><br>105, Rue du Webdesign<br>99000 Web City<br>05 00 00 00 00<br>contact@mobile-guy.com</strong> </p>
        </div>
    </div>
    </div>
</footer>