<header>
        <nav id="navbar" class="navbar">
            <ul class="menu">
                <a href="{{ path ('accueil') }}"><img src="/img/01-logo/color.png" id="logo-header" class="logo-header"></a>
                <li><a href="{{ path ('accueil') }}">Accueil</a></li>
                <li><a href="{{ path ('accueil') }}">Smartphones</a></li>
                <li><a href="{{ path ('accueil') }}">Accessoires</a></li>
                <li><a href="{{ path ('panier') }}">Panier</a></li>
                <li><a href="{{ path ('accueil') }}">Compte</a></li>
            </ul>
        </nav><!-- .navbar -->
</header>