<header>
    <div id="contenu-menu">
        <nav id="navbar" class="navbar">
            <ul class="menu">
                <a href="{{ path ('accueil') }}"><img src="/img/01-logo/color.png" id="logo-header" class="logo-header"></a>
                <li><a href="{{ path ('accueil') }}">Accueil</a></li>
                <li><a href="{{ path ('category', {'slug': 'smartphones'}) }}">Smartphones</a></li>
                <li><a href="{{ path ('category', {'slug': 'accessoires'}) }}">Accessoires</a></li>
                <li><a href="{{ path ('panier') }}">Panier</a></li>
                <li><a href="{{ path ('compte') }}">Compte</a></li>
            </ul>
        </nav><!-- .navbar -->
    </div>
</header>