<header>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="{{ path ('accueil') }}">Accueil</a></li>
                <li><a href="{{ path ('category', {'id':1}) }}">Smartphones</a></li>
                <li><a href="{{ path ('category', {'id':2}) }}">Accessoires</a></li>
                <li><a href="{{ path ('panier') }}">Panier</a></li>
                <li><a href="{{ path ('accueil') }}">Compte</a></li>
            </ul>
        </nav><!-- .navbar -->
</header>