{# Bloc permettant d'afficher les 4 derniers produits de la base de données (test)#}
{% block body %}
    {% for i in product_list %}
        <p>{{ i.brand }}</p>
        <p>{{ i.designation }}</p>
        <img src="/images/{{ i.image }}" alt="Photo du produit .{{ i.designation }}">

        <p>{{ i.price }}</p>
        <p>{{ i.stock }}</p>

        <a href="{{ path('product', {'slug':i.slug}) }}"> En savoir plus </a>
        <a href="{{ path('add_panier', {'id':i.id }) }}"> Ajouter au panier </a>
    {% endfor %}
{% endblock %}