{# Bloc permettant d'afficher les 4 derniers produits de la base de données (test)#}
{% block body %}
    <div id="grille-products">
        {% for i in product_list %}
            <div id="sticker-product">
                <p class="marque">{{ i.brand }}</p>
                <p class="designation">{{ i.designation }}</p>
                <img class="product-little-image" src="/images/{{ i.image }}" alt="Photo du produit .{{ i.designation }}">

                {% if i.stock >= 1 %}
                    <p class="stock">Disponible</p>
                {% else %}
                    <p class="stock">Indisponible</p>
                {% endif %}

                <p class="prix">{{ i.price |format_currency('EUR', locale='de') }}</p>

                <a class="BTN-bleu" href="{{ path('product', {'slug':i.slug}) }}"> En savoir plus </a>
                <a class="BTN-orange" href="{{ path('add_panier', {'id':i.id }) }}"> Ajouter au panier </a>
            </div>
        {% endfor %}

    </div>
{% endblock %}