{% extends "base.html.twig" %}

{% block title %}{{ product.designation }}{% endblock %}

    {% block body %}


    <h1>{{ product.brand }}</h1>
    <h2>{{ product.designation }} - {{ product.specification }}</h2>

    <p>{{ product.description }}</p>

    <p>{{ product.price }}</p>
    <p>{{ product.stock }}</p>

    <a href="{{ path('add_panier', {'id':product.id }) }}"> Ajouter au panier </a>

    <img src="/images/{{ product.image }}" alt="Photo du produit .{{ product.designation }}">

    <p>{{ product.content }}</p>
{% endblock %}