{% extends "base.html.twig" %}

{% block title %}{{ product.designation }}{% endblock %}

    {% block body %}

        <h1>{{ product.brand }}</h1>
        <h2>{{ product.designation }} - {{ product.specification }}</h2>

        <p>{{ product.description }}</p>

        <p>{{ product.price |format_currency('EUR', locale='de')}}</p>
        {% if product.stock >= 1 %}
            <p>Disponible</p>
        {% else %}
            <p>Indisponible</p>
        {% endif %}

        <a href="{{ path('add_panier', {'id':product.id }) }}"> Ajouter au panier </a>

        <img src="/images/{{ product.image }}" alt="Photo du produit .{{ product.designation }}">

        <p>{{ product.content }}</p>

        {# Affichage des produits suggérés, i prend la valeur du produit de cross_Selling (tableau) #}
        {% include 'list_products.html.twig' with {'product': 'i'} %}

{% endblock %}